<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title>课时</title>
    <meta name="description" content="课时 一日一读、一期一会">
    <meta name="HandheldFriendly" content="True">
    <link href="/stylesheets/index.css" rel="stylesheet">
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="./src/icon/favicon@128.ico">
    <link rel="shortcut icon" href="./src/icon/favicon.ico">
</head>

<body>
<div class="content clear">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 product-info">
                <div class="product-icon">
                    <img src="/images/lesson-icon.png">
                </div>
                <div class="product-title">
                    <h1>课时</h1>
                    <h1>极简主义的每日阅读</h1>
                </div>
                <div class="product-brief">
                    <h2>一日一读、一期一会</h2>
                </div>
                <div class="product-introduce">
                    <p>每日精选经典好文，与大师见字如面</p>
                    <p>为好文章留下评论，以文字致敬文字</p>
                    <p>极简美学留白设计，让阅读找回快感</p>
                </div>
            </div>
            <div class="col-md-6 visible-sm product-img">
                <img src="/images/lesson-screenshot.png">
            </div>
        </div>
    </div>
</div>
</body>
</html>
